.centerpage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;   
}
.logout{
    display: flex;
    justify-content: center;
    transition-duration: 0.04s;
    background-color: #FF6600; /* NYC Flag Orange*/
    color: white;
    width: 10%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.complaint{
    display: flex;
    justify-content: center;
    transition-duration: 0.04s;
    background-color: #FF6600; /* NYC Flag Orange*/
    color: white;
    width: 10%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.table {
    display: inline-table;
    text-align: center;
    justify-content: center;
    border: 5px solid black;
    border-collapse: collapse;
    width: 80%;  
    
}
table tr:nth-child(odd) td {
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 2px;
}
table tr:nth-child(even) td{
    background-color: #4C8BF5;
    color: black;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-weight: bold;
    padding: 2px;
}
thead th{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: #2F56A6; /* NYCC BLUE*/
    color: white;
    font-weight: bold;
}

