.centerpage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;   
}
.table {
    display: inline-table;
    text-align: center;
    justify-content: center;
    border: 5px solid black;
    border-collapse: collapse;
    width: 80%;  
    
}
table tr:nth-child(odd) td {
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 2px;
}
table tr:nth-child(even) td{
    background-color: #4C8BF5;
    color: black;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-weight: bold;
    padding: 2px;
}
thead th{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: #2F56A6; /* NYCC BLUE*/
    color: white;
    font-weight: bold;
}

 /* tbody td:nth-child(even) {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 2px;
} 
tbody tr:nth-child(odd){
    background-color: #4C8BF5;
    color: #fff;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-weight: bold;
    padding: 2px;
  }  */

 /* :nth-child() {
   background-color: blue;
}  */

/* th{
    display: table-header-group;
    text-align: center;
    justify-content: center;
    border: 10px solid black;
    border-collapse: collapse;
}
tr{
    display: table-row;
    text-align: center;
    justify-content: center; 
    border: 10px solid black;
    border-collapse: collapse;
}

tb{
    display: table-row;
    text-align: center;
    justify-content: center; 
    border: 10px solid black;
    border-collapse: collapse;
}   */

